
.registration {
  text-align: center;
  margin: 8px;
  &-form {
    form {
      display: flex;
      flex-direction: column;

      .field {
        margin: 8px;
      }
    }
  }
}
ion-input{
  border: 1px;
  background-color: white;
  border-color: black;
  border-radius: 5px;
}

.sair {
  position:fixed;
   right:10px;
   top:5px;
}
