<ion-header color='primary' [translucent]="true">
  <ion-toolbar color='primary'>
    <ion-title>
      Histórico
    </ion-title>
    <ion-button class=sair (click) = "sair()">
            Sair
          </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Histórico</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <div class="historico" >




    </div>
  </ion-card>
</ion-content>
