<ion-header color='primary' [translucent]="true">
  <ion-toolbar color='primary'>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login Page</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-card>
  <div class="registration">
    <br>
    <h2>Bem vindo</h2>
    <h5>Registro de prestação de contas.</h5>
    <br>
    <span>Por favor faça o login a baixo para continuar.</span>
    <div class="registration-form">
      <p>
        <ion-label class="name-field">
          <ion-input
            type="email"
            placeholder="Nome do usuário"
            Name="firstName"
            [(ngModel)] = "email">
          </ion-input>
        </ion-label>
      </p>
        <p>
          <ion-label class="pswd-field">
            <ion-input required
              type="password"
              placeholder="Senha"
              Name="password"
              [(ngModel)]="pswd" >

            </ion-input>
          </ion-label>
        </p>

        <p id="senha-msg">{{ mensagem }}</p>
        <ion-button
          class="submit button"
          (click)= 'onSubmit()'
        >
          Login
        </ion-button>
    </div>
  </div>
</ion-card>
</ion-content>
